[Unit]
Before=docker.service
[Install]
RequiredBy=docker.service
[Mount]
What=/dev/vdb
Where=/var/lib/docker/volumes
Type=btrfs
Options=discard,ssd,subvol=volumes
